:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  body {
    height: 100%;
  }

  .containertwo {
    display: grid;
    height: 100vh;
    width: 97vw;
    grid-template-columns: 33.33% 33.33% 33.33%;
    /* grid-template-rows: 33.33% 33.33% 33.33%; */
    grid-template-areas:
  
      "nav nav nav"
      "main main main"
      "footer footer footer";
  
    grid-gap: 1.5%;
    row-gap: 2.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
  
  }


  /* NAVBAR STYLING */

nav {
    width: 312%;
    background-color: lightblue;
  
  }
  
  nav img {
    width: 185px;
    position: absolute;
    top: 3px;
    left: 0.5%;
  
  }
  
  
  nav ul {
    float: right;
    margin-right: 55px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 120px;
    margin: 0 15px;
  }
  
  nav a:hover {
    color: aqua;
  }
  
  nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
  
  }
  
  nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
  
  }
  
  nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  label #btn,
  label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  
  }
  
  #check {
    display: none;
  
  }


/* MAIN STYLING */

span {
    font-size: 250%;

    
    
}

  main {
    background-color: aquamarine;
    grid-area: main;
    border-radius: var(--main-radius);
  

  }

  .about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;

  }

  .about .content{
    height: auto;
    width: 580px;
    max-width: 100%;


  }

  #aboutimg{
    height: auto;
    width: 580px;
    max-width: 100%;
  }

  .text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px; 
  }





  /* FOOTER STYLING */

  footer {
    background-color: lightblue;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
    
  }
  
  h3{
    padding-top: 1%;
    font-size: 100%;
    text-align: left;
    
    
    
  }
  
  #facons {
    text-align: right;
    
    
  }







/* DESKTOP RESPONSIVE STYLE */

@media (max-width: 1057px) {


  #aboutimg{
    height: auto;
    width: 460px;
    max-width: 100%;
  }






}

/* TABLET RESPONSIVE STYLE */

@media (max-width: 914px) {

    nav img {
      left: 1%;
      /* top: 10px; */
      /* width: 110px; */
    }
  
    nav ul li a {
      font-size: 17px;
    }





    /* PHONE RESPONSIVE STYLE */
    @media (max-width: 765px) {

        nav img{
            width: 110px;

        }


        label #btn {
          display: block;
        }
    
        ul {
          position: fixed;
          width: 100%;
          height: 100vh;
          background-color: burlywood;
          top: 80px;
          left: -100%;
          text-align: center;
          transition: all .5s
        }
    
        nav ul li {
          display: block;
          margin: 50px 0;
          line-height: 30px;
        }
    
        nav ul li a {
          font-size: 20px;
        }
    
        #check:checked~ul {
          left: 0;
        }
    
        #check:checked~label #btn {
          display: none;
        }
    
        #check:checked~label #cancel {
          display: block;
        }
    
      }
    }

    @media (max-width: 480px) {
        .text{
            min-height: 100px;
overflow: hidden;


     



    }
}
  
  