
:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
    
}


.container {
    display: grid;
    width: 97vw;
    grid-template-areas:
  
      "nav nav nav"
      "main main main"
      "content1 content2 content3"
      "footer footer footer";
  
    grid-gap: 1.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
  
  }




  /* NAVBAR STYLING */

nav {
    grid-area: nav;
    width: 107%;
    background-color: lightblue;
  
  }
  
  nav img {
    width: 185px;
    position: absolute;
    top: 3px;
    left: 0.5%;
  
  }
  
  
  nav ul {
    float: right;
    margin-right: 55px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 120px;
    margin: 0 15px;
  }
  
  nav a:hover {
    color: aqua;
  }
  
  nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
  
  }
  
  nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
  
  }
  
  nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  label #btn,
  label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  
  }
  
  #check {
    display: none;
  
  }
  
  
  








/* BLOG SECTIONS STYLING */

.blogs{
    width: 100%;
    height: auto;
    background-color: #ccc;
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* background: #888; margin: 0 auto; width: 85%; */
    
  }

  .blog{
    width: 100%;
    height:auto;
    margin: 10px auto;
    background-color:  #F3F5F7;;
    border: none;
    border-radius: 6px;
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr;
    padding: 0  10px;
  }


  #image-one{
   
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    margin: 10px;
    background-image: url("./blogimgOne.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 70px; */
   
  }

  #image-two{
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    margin: 10px;
    background-image: url("./blogimgTwo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 20px; */

  }
  #image-three{
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    margin: 10px;
    background-image: url("./blogimgThree.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 20px; */

  }

  .texts{
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
  }
  h1{
    font-size: 20px;
    margin: 10px 0 30px 0;
    text-align: center;
    color: #0B2231;
  }
  .blog h1{
    font-size: 20px;
    color: #000;
    font-family: "Josefin Sans";
    font-size: 20px;
     padding:15px 0;
  }

  p{
    font-size: 10px;
    height: 108px;
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 12px;
    line-height: 18px;
  }

  .texts a{
    position: absolute;
    bottom: 5px;
    text-decoration: none;
    color: #0B2231;
    font-size: 12px;
  }






/* FOOTER STYLING */

footer {
    background-color: lightblue;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    width: 107%
    
  }
  
  h3{
    padding-top: 1%;
    font-size: 100%;
    text-align: left;
    
    
    
  }
  
  #facons {
    text-align: right;
    
    
  }










/* DESKTOP RESPONSIVE STYLE */
@media (max-width: 1103px) {

    .gridGallery {
        width: 750px;
        grid-template-columns: 375px 375px;
    }

}

/* TABLET RESPONSIVE STYLE */

@media (max-width: 914px) {

    nav img {
      left: 1%;
      /* top: 10px; */
      /* width: 110px; */
    }
  
    nav ul li a {
      font-size: 17px;
    }
  
    #image-container {
  
      background-attachment: scroll;
  
    }
} 

@media (max-width: 765px) {

    .gridGallery {
        width: 375px;
        grid-template-columns: 375px;
    }


    label #btn {
        display: block;
      }
  
      ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: burlywood;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s
      }
  
      nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
  
      nav ul li a {
        font-size: 20px;
      }
  
      #check:checked~ul {
        left: 0;
      }
  
      #check:checked~label #btn {
        display: none;
      }
  
      #check:checked~label #cancel {
        display: block;
      }


}


/* Tablet View */
@media (max-width: 700px) {  
    .blogs{
      padding: 40px;  
    }
    
    .blog{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    

    #image-one{
        padding: 80px;
        width: 100%;
        height: 200px;
        margin: 10px auto;
    }
    #image-two{
        padding: 80px;
        width: 100%;
        height: 200px;
        margin: 10px auto;
    }
    #image-three{
        padding: 80px;
        width: 100%;
        height: 200px;
        margin: 10px auto;
    }


    
    .texts{
      width: 100%;
      height: 350px;
      margin: 5px auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .texts a{
      position: absolute;
      bottom: 10px;
      text-decoration: none;
      color: #0B2231;
    }
  
  }




  
  /* Mobile View */
  @media (max-width: 400px) {
    .blogs{
      width: 100%;
      padding: 40px;
    }
    
    .blog {
      width: 100%;
    }
    
    #image-one{
        width: 100%;
        height: 200px;
        margin: 5px auto;
    }
    #image-two{
        width: 100%;
        height: 200px;
        margin: 5px auto;
    }
    #image-three{
        width: 100%;
        height: 200px;
        margin: 5px auto;
    }
    
    .texts{
      width: 100%;
      height: 450px;
      margin: 5px auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .texts a{
      position: absolute;
      bottom: 10px;
      text-decoration: none;
      color: #0B2231;
    }
  }







