*{
    box-sizing: border-box;
}

.gridGallery {
    margin: 30px auto;
    display: grid;
    width: 1125px;
    grid-template-columns: 375px 375px 375px;



}
.galleryImage{
    min-width: 355px;
    min-height: 355px;
    padding: 10px 10px 61px 10px;
    cursor: pointer;
}
img{
   width: 100%;
   
 
}

/* DESKTOP RESPONSIVE STYLE */

@media (max-width: 1103px) {

    .gridGallery{
        width: 750px;
        grid-template-columns: 375px 375px;
    }

}


/* PHONE RESPONSIVE STYLE */
@media (max-width: 765px) {

    .gridGallery{
        width: 375px;
        grid-template-columns: 375px;
    }


}





