
:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body {
  background-color: #0D0D0D;
}


.container {
    display: grid;
    width: 90vw;
    grid-template-areas:
  
      "nav nav nav"
      "main main main"
      "content1 content2 content3"
      "footer footer footer";
  
    grid-gap: 1.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
  
  }




  /* NAVBAR STYLING */

nav {
    grid-area: nav;
    width: 107%;
    background-color: #0D0D0D;
  
  }
  
  nav img {
    width: 185px;
    position: absolute;
    top: 3px;
    left: 0.5%;
  
  }
  
  
  nav ul {
    float: right;
    margin-right: 55px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 120px;
    margin: 0 15px;
  }
  
  nav a:hover {
    color: #D59C33;
  }
  
  nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
  
  }
  
  nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
  
  }
  
  nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  label #btn,
  label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  
  }
  
  #check {
    display: none;
  
  }
  
  
  








/* IMAGE GALLERY STYLING */

.gridGallery {
    margin: 30px auto;
    display: grid;
    width: 1110px;
    grid-template-columns: 375px 375px 375px;
    grid-gap: 7%;
    padding-bottom: 13%;
    

}

.galleryImage{
    min-width: 355px;
    min-height: 355px;
    /* padding: 10px 10px 61px 10px; */
    cursor: pointer;
    padding-left: 50%;

}


.pic:hover{
  box-shadow: 0 20px 20px rgba(244, 220, 82, 0.3);
    
}




/* FOOTER STYLING */

footer {
    background-color: #0D0D0D;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    width: 107%
    
  }
  
  h3{
    color: white;
    padding-top: 1%;
    font-size: 100%;
    text-align: left;
    
    
    
  }
  
  #facons {
    text-align: right;
    color: white;
    
    
  }







/* DESKTOP RESPONSIVE STYLE */

@media (max-width: 1190px) {

    .gridGallery {
        width: 750px;
        grid-template-columns: 375px 375px;
    }

}






@media (max-width: 1103px) {

    .gridGallery {
        width: 750px;
        grid-template-columns: 375px 375px;
    }

}




/* TABLET RESPONSIVE STYLE */

@media (max-width: 914px) {

    nav img {
      left: 1%;
      /* top: 10px; */
      /* width: 110px; */
    }
  
    nav ul li a {
      font-size: 17px;
    }
  
    #image-container {
  
      background-attachment: scroll;
  
    }
}  


/* PHONE RESPONSIVE STYLE */
@media (max-width: 765px) {




    label #btn {
        display: block;
      }
  
      ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: burlywood;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s
      }
  
      nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
  
      nav ul li a {
        font-size: 20px;
      }
  
      #check:checked~ul {
        left: 0;
      }
  
      #check:checked~label #btn {
        display: none;
      }
  
      #check:checked~label #cancel {
        display: block;
      }


}

@media (max-width: 490px) {
.gridGallery {
  width: 375px;
  grid-template-columns: 375px;
}
.galleryImage{
  min-height: 5px;
  width: 50px;

  cursor: pointer;
  padding-left: 10%;
  
}
footer{
  padding-top: 20%;
}
}

@media (max-width: 491px) {

  footer{
    width: 120%;
    /* padding-top: 20%; */
  }
  }


