:root {
  --main-radius: 5px;
  --main-padding: 5px;

}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 15% 50% 25% 10%;
  grid-template-areas:

    "nav nav nav"
    "main main main"
    "content1 content2 content3"
    "footer footer footer";

  grid-gap: 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 15px;
  text-align: center;



}

/* NAVBAR STYLING */

nav {

  width: 300%;
  background-color: lightblue;

}

nav img {
  width: 150px;
  position: absolute;
  top: 17px;
  left: 12%;
}


nav ul {
  float: right;
  margin-right: 25px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav a:hover {
  color: aqua;
}

nav ul li a {
  position: relative;
  color: white;
  font-size: 18px;
  padding: 5px 0;
  text-transform: uppercase;

}

nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;

}

nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}

#check {
  display: none;

}




/* MAIN STYLING */

main {
  background-color: aquamarine;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
  background-color: lightcoral;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  background-color: lightgreen;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background-color: rgb(240, 183, 130);
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  background-color: lightslategray;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}



/* DESKTOP RESPONSIVE STYLE */

@media (max-width: 1118px) {

  nav img {
    left: 8%;
  }


}

@media (max-width: 944px) {

  nav img {
    left: 6%;
    top: 20px;
    width: 130px;
  }

  nav ul li a {
    font-size: 17px;
  }

}


/* PHONE RESPONSIVE STYLE */
@media (max-width: 860px) {


  label #btn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: burlywood;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #cancel{
    display: block;
  }

}