.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 25% 35% 25% 15%;
}

nav {
  background-color: aqua;
}

main {
  background-color: aquamarine;
}

#content1 {
  background-color: lightcoral;
}

#content2 {
  background-color: lightgreen;
}

#content3 {
  background-color: lightgoldenrodyellow;
}

footer {
  background-color: lightslategray;
}