:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}


.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 15% 50% 25% 10%;
  grid-template-areas:

    "nav nav nav"
    "main main main"
    "content1 content2 content3"
    "footer footer footer";

  grid-gap: 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 15px;
  text-align: center;

}

/* NAVBAR STYLING */

nav {

  width: 300%;
  background-color: lightblue;

}

nav img {
  width: 140px;
  position: absolute;
  top: 5px;
  left: 10%;
}


nav ul {
  float: right;
  margin-right: 25px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav a:hover {
  color: aqua;
}

nav ul li a {
  position: relative;
  color: white;
  font-size: 18px;
  padding: 5px 0;
  text-transform: uppercase;

}

nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;

}

nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}

#check {
  display: none;

}




/* MAIN STYLING */

main {
  background-color: aquamarine;
  grid-area: main;
  border-radius: var(--main-radius);
}

#image-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./picMain.jpg");
  min-height: 21em;
  height: 50%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}




#content1 {
  background-color: lightcoral;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  background-color: lightgreen;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background-color: rgb(240, 183, 130);
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  background-color: lightblue;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}



/* DESKTOP RESPONSIVE STYLE */

@media (max-width: 10003px) {

  nav img {
    left: 8%;
  }


}

/* TABLET RESPONSIVE STYLE */

@media (max-width: 1000px) {

  nav img {
    left: 6%;
    top: 7px;
    width: 110px;
  }

  nav ul li a {
    font-size: 17px;
  }

}


/* PHONE RESPONSIVE STYLE */
@media (max-width: 767px) {


  label #btn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: burlywood;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked~ul {
    left: 0;
  }

  #check:checked~label #btn {
    display: none;
  }

  #check:checked~label #cancel {
    display: block;
  }

}